{% extends "layout.html" %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/post2-bg.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>{{params['blog_name']}}</h1>
              <span class="subheading">Posts by Guests</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">


     <!-- Todo: Fetch it using for loop from the database -->

     {% for guest in guests %}
      
          <div class="post-preview">
            <a href="/guestpost/{{guest.slug}}">
              <h2 class="post-title">
                {{guest.title}}
              </h2>
              <h3 class="post-subtitle">
                {{guest.tagline}}
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Guest</a>
              on {{guest.date}}</p>
          </div>
          

          {{guest.content[0:143]}}...
          <hr>
     </li> </a>    
      {% endfor %}

     


          <!-- Pager -->
          <div class="clearfix">

            <a class="btn btn-dark float-left" href="{{prev}}">Previous</a>
            <a class="btn btn-dark float-right" href="{{next}}">Next</a>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}


